.header
{
    display:flex;
    justify-content: space-between;
    border :1px solid black;
    
}

.Logo img{

    width: 150px;
    

}

.nav-items{
    padding:10px;
}

.nav-items > ul{

    display:flex;
    list-style:none;
    

}

.nav-items > ul >li{
    font-size:24px;
    padding:20px;
    

}


.res-card
{
    width:200px;
    height:420px;
    background-color: #ccc0c0;
    margin:5px;
    
}

.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}

.res-card img{
    height:150px;
    width: 150px;
    margin: 20px;

}
.res-card h3{
    font-weight: 900;
    text-align: center;
    margin: 0px;
    font-family: "Basis Grotesque Pro";
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
   
    
}
.res-card h5{
    font-family:cursive;
    text-align: left;
    margin:6px;
}

.restaurantContainer{

    display:flex;
    flex-wrap: wrap;
}