.header
{
    display:flex;
    justify-content: space-between;
    border :1px solid black;
    
}

.Logo img{

    width: 150px;
    

}

.nav-items{
    padding:10px;
}

.nav-items > ul{

    display:flex;
    list-style:none;
    

}

.nav-items > ul >li{
    font-size:24px;
    padding:20px;
    

}


.res-card
{
    width:200px;
    height:400px;
    background-color: #948888;
    border:1px solid black;
}

img{
    width:90%;
    height:90%;
    margin:10px 5px 10px 5px;
}